# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Sync Wiki assets from Google Drive daily

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
